params {

  outdir = outdir ?: 'results'
  publish_dir_mode = publish_dir_mode ?: 'copy'
  max_cpus   = {{.MaxCPUs}}
  max_memory = '{{.MaxMemory}}'
  max_time   = '1.h'

}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Use current user's UID and GID
}
